# For connecting to the host container for Windows/MacOs leave it as is
# to connect internally set it to `postgres` and `5432` respectively
DB_HOST=host.docker.internal
CONN_DB_PORT=25432
HOST_BIND_DB_PORT=25432
DB_USER=dbchannel
DB_PASSWORD=dbchannel
DB_NAME=dbchannel

# Hub link that is used in websub message header https://www.w3.org/TR/websub/#discovery
HUB_URL=http://127.0.0.1:5000/

# Server port
API_PORT=5000

# Subscriptions Repo location and credentials (Minio/S3)
IGL_SUBSCRIPTIONS_REPO_USE_SSL=False
IGL_SUBSCRIPTIONS_REPO_HOST=minio
IGL_SUBSCRIPTIONS_REPO_PORT=9000
IGL_SUBSCRIPTIONS_REPO_ACCESS_KEY=minio_access_key
IGL_SUBSCRIPTIONS_REPO_SECRET_KEY=minio_secret_key

# Notifications Repo location and credentials (ElasticMQ/SQS)
IGL_NOTIFICATIONS_REPO_USE_SSL=False
IGL_NOTIFICATIONS_REPO_REGION=elasticmq
IGL_NOTIFICATIONS_REPO_HOST=elasticmq
IGL_NOTIFICATIONS_REPO_PORT=9324
IGL_NOTIFICATIONS_REPO_ACCESS_KEY=elasticmqaccess
IGL_NOTIFICATIONS_REPO_SECRET_KEY=elasticmqsecret

# Delivery Outbox Repo location and credentials (ElasticMQ/SQS)
IGL_DELIVERY_OUTBOX_REPO_USE_SSL=False
IGL_DELIVERY_OUTBOX_REPO_REGION=elasticmq
IGL_DELIVERY_OUTBOX_REPO_HOST=elasticmq
IGL_DELIVERY_OUTBOX_REPO_PORT=9324
IGL_DELIVERY_OUTBOX_REPO_ACCESS_KEY=elasticmqaccess
IGL_DELIVERY_OUTBOX_REPO_SECRET_KEY=elasticmqsecret
