version: '3.5'

x-services:
  base: &base-api
    build:
      context: ../
      dockerfile: docker/api.Dockerfile
    depends_on:
      - elasticmq
      - minio
    volumes:
      - ..:/src


services:
  minio:
    # https://docs.min.io/docs/minio-docker-quickstart-guide.html
    image: minio/minio
    command: server /minio-data
    environment:
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-minio_access_key}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-minio_secret_key}
      MINIO_HTTP_TRACE: /minio-data/requests.log
    # we don't have to expose it directly to the host machine for our demo,
    # but it's useful for starting service on the host
    ports: ['${MINIO_BIND_HOST_PORT}:9000']
    restart: on-failure
    volumes:
      - ./volumes/${COMPOSE_PROJECT_NAME}/var/minio-data:/minio-data

  elasticmq:
    image: softwaremill/elasticmq
    ports: ['${ELASTICMQ_BIND_HOST_PORT}:9324']
    volumes: ['./elasticmq.conf:/opt/elasticmq.conf']
    restart: on-failure


  api:
    <<: *base-api
    ports: ['$API_BIND_HOST_PORT:5000']
    environment:
      - SERVER_NAME
      - DATABASE_URI
      - ENDPOINT
      - IGL_CHANNEL_REPO_HOST
      - IGL_CHANNEL_REPO_PORT
      - IGL_CHANNEL_REPO_ACCESS_KEY
      - IGL_CHANNEL_REPO_SECRET_KEY
      - IGL_CHANNEL_REPO_USE_SSL
      - IGL_SUBSCRIPTIONS_REPO_HOST
      - IGL_SUBSCRIPTIONS_REPO_PORT
      - IGL_SUBSCRIPTIONS_REPO_ACCESS_KEY
      - IGL_SUBSCRIPTIONS_REPO_SECRET_KEY
      - IGL_SUBSCRIPTIONS_REPO_USE_SSL
      - IGL_NOTIFICATIONS_REPO_HOST
      - IGL_NOTIFICATIONS_REPO_PORT
      - IGL_NOTIFICATIONS_REPO_REGION
      - IGL_NOTIFICATIONS_REPO_ACCESS_KEY
      - IGL_NOTIFICATIONS_REPO_SECRET_KEY
      - IGL_NOTIFICATIONS_REPO_USE_SSL
      - IGL_DELIVERY_OUTBOX_REPO_HOST
      - IGL_DELIVERY_OUTBOX_REPO_PORT
      - IGL_DELIVERY_OUTBOX_REPO_REGION
      - IGL_DELIVERY_OUTBOX_REPO_ACCESS_KEY
      - IGL_DELIVERY_OUTBOX_REPO_SECRET_KEY
      - IGL_DELIVERY_OUTBOX_REPO_USE_SSL
      - SENTRY_DSN
    command: "python manage.py runserver -h 0.0.0.0"
    restart: on-failure

  tests:
    <<: *base-api
    container_name: tests
    command: bash -c "cd /src && pytest -o junit_family=xunit1 --junitxml=/src/api/tests/results.xml"
    environment:
      TESTING: 'True'
      ENDPOINT: ${ENDPOINT:-AU}
      TEST_MINIO_HOST: ${TEST_SUBSCRIPTION_REPO_HOST:-minio}
      TEST_MINIO_PORT: ${TEST_SUBSCRIPTION_REPO_PORT:-9000}
      TEST_MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-minio_access_key}
      TEST_MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-minio_secret_key}
      TEST_ELASTICMQ_REPO_HOST: ${TEST_ELASTICMQ_REPO_HOST:-elasticmq}
      TEST_ELASTICMQ_REPO_PORT: ${TEST_ELASTICMQ_REPO_PORT:-9324}

